{% extends 'base.html.twig' %}

{% block body %}
{% for recipe in recipes %}
<div class="col s12 m6">
  <div class="hoverable card sticky-action">
    <div class="card-image waves-effect waves-block waves-light">
      {% if recipe.media %}
      <img class="activator" src="{% path recipe.media, 'big' %}">
      {% else %}
      <img class="activator" src="{{ asset('bundles/app/img/default.png') }}">
      {% endif %}
    </div>
    <div class="card-action">
      <span class="card-title activator grey-text text-darken-4">
        <div class="recipe-name">{{ recipe.name }}</div>
        <i class="flow-text material-icons">alarm</i> {{ recipe.preparationTime }} min
        <i class="flow-text material-icons">whatshot</i> {% if recipe.cookTime is not null %}{{ recipe.cookTime }} min {% else %} -- {% endif %}
        <i class="material-icons">restore</i> {% if recipe.restTime is not null %}{{ recipe.restTime }} min {% else %} -- {% endif %}
        <br><br>
        <a href="{{ path('recipe_show', { 'slug': recipe.slug }) }}" class="button-show right btn waves-effect waves-light">Voir
          <i class="material-icons right">send</i>
        </a>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">{{ recipe.name }}<i class="material-icons right">close</i></span>
        <p>{{ recipe.description }}</p>
      </div>
    </div>
  </div>
{% endfor %}

<div class="col s12 navigation text-center">
  {{ knp_pagination_render(recipes) }}
</div>

{% endblock %}
